<% include partials/header %>

<div class="row">
    <h1 class="text-center">Forgot Password</h1>

    <div id="formContainer">
        <form action="/forgot" method="POST">
            <div class="form-group">
                <label for="email">Email:</label>
                <input class="form-control" type="email" name="email" id="email" required>
            </div>
            <div class="form-group">
                <input class="btn btn-lg btn-primary btn-block" type="submit" value="Send Reset Email">
            </div>

            <a href="/login">Back</a>
        </form>
    </div>
</div>

<% include partials/footer %>